.lds-ripple {
  display: inline-block;
  position: relative;
  /* margin-left: 40%;
  margin-right: 40%; */
  width: 300px;
  height: 400px;
}
.lds-ripple div {
  position: absolute;
  border: 6px solid rgba(33, 92, 152);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.3, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.25s;
}
.lds-ripple div:nth-child(1) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 144px;
    left: 144px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 288px;
    height: 288px;
    opacity: 0;
  }
}
