.root {
    padding: '2px 4px';
    display: 'flex';
    align-items: 'center';
    width: 400;
  }
  .input {
    margin-left: 30;
    flex: 1;
    width: 93%;
    color: blue;
  }

  .iconButton {
    padding: 10;
    width: 5%;
  }

