* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: auto;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../components/Assets/Logo3.png");
    background-repeat: no-repeat;
    background-position: top;
    /* background-color: #ff8918; */
}

.home__container {
    width: 700px;
    margin: 0 auto;
    position: relative;
}

.home_grid_margin {
    margin-top: 200px;
}

.home_grid_col_margin {
    margin-left: 250px;
}

.home__logo {
    margin-bottom: 20px;
    text-align: center;
}

.home__form {
    position: relative;
}

.search__icon {
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 20px;
    color: #9aa0a6;
}


.home__group {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.home__btn {
    outline: none;
    color: #5f6368;
    background: #f2f2f2;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}