body{
    /* background-color: #efffef; */
}
.search {
    width: 80%;
    margin: 30px auto;
    
}

.search__form {
    display: flex;
    width: 1400px;
    align-items: center;
    border-bottom: 2px solid #f2f2f2;
    margin-left: -120px;
    margin-top: -30px;
}

.search__form-logo {
    width: 100px;
    height: 81px;
    cursor: pointer;
}

.search__form-logo img {
    width: 100%;
    height: 100%;
}

.search_grid{
    width: max-content;
    height: auto;
    margin-left: 31px;
}

.search_grid_col{
    height: 98px;
    margin-top: 31px;
    margin-left: 40px;
}

.show{
    width: 1400px;
    height: 500px;
    margin-left: -89px;
    margin-top: 18px;
}

.show_result{
    width: 1400px;
    height: max-content;
    margin-top: 18px;
}
